body {
  background-color: #eef2f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-shrink: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1d3557;
  color: white;
  padding: 1% 1vw;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 3vw;
  margin-bottom: 2%;
}

.rank-info {
  width: 100%;
}

.rank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50%;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rank-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.rank-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

footer {
  background-color: #1d3557;
  color: white;
  padding: 2% 1vw;
  text-align: center;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: auto;
}

.container {
  display: flex;
  padding: 2vh 15%;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}

.side-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 2vh 5%;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.main-content {
  flex: 1;
  padding-left: 1vw;
  margin-right: 1vw;
  max-width: calc(100% - 250px);
  overflow-y: auto;
}
/*user*/
.profile-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  position: relative;
  display: inline-block;
}

#profileIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #457b9d;
}

.profile-icon img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #457b9d;
  position: relative;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info p {
  display: flex;
  align-items: center;
}

#gameName {
  margin: auto 0;
  font-size: 1.2rem;
  margin-right: 2px;
  color: #34495e;
  font-weight: bold;
  display: inline;
}

#tagLine {
  margin: auto 0;
  font-size: 1.2rem;
  color: gray;
  display: inline;
}

#queueType {
  font-weight: normal;
  font-size: 0.9rem;
}

.queue-label {
  font-weight: bold;
}

#refreshButton {
  background-color: #457b9d;
  color: white;
  border: none;
  width: 80%;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#refreshButton:hover {
  background-color: #1d3557;
}

#refreshButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(69, 123, 157, 0.5);
}

#refreshButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

h3 {
  font-size: 1.2rem;
  color: #1d3557;
  margin-bottom: 1rem;
}

.win {
  background-color: rgba(76, 175, 80, 0.3);
  border-left: 5px solid #4caf50;
}

.lose {
  background-color: rgba(244, 67, 54, 0.3);
  border-left: 5px solid #f44336;
}

#summonerLevel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  border: 1px solid #457b9d;
  z-index: 10;
}

#queueType,
#tier,
#rank,
#leaguePoints,
#wins,
#losses {
  font-weight: bold;
}

/*match*/
#recent-matches {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5%;
}

.match-item {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
}

.match-item img {
  max-width: 70px;
  max-height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.match-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.match-item p {
  margin: 0;
  font-size: 0.9rem;
  flex: 1;
  text-align: center;
}

.match-item p:first-child {
  flex: 2;
  text-align: left;
}

.match-item p:nth-child(2) {
  font-weight: bold;
}

.win {
  background-color: rgba(76, 175, 80, 0.3);
  border-left: 5px solid #4caf50;
}

.lose {
  background-color: rgba(244, 67, 54, 0.3);
  border-left: 5px solid #f44336;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    width: 100%;
  }

  .profile-top {
    width: 100%;
    margin-bottom: 10px;
  }

  #refreshButton {
    width: 80%;
  }

  .match-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .container {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    max-width: none;
  }

  .match-item-content {
    padding-left: 0;
    text-align: center;
  }
}
