body {
  background: linear-gradient(
    to right,
    /* 부드러운 톤의 시작 색 */ #20383b 0%,

    /* 톤다운된 깊은 에메랄드 */ #051f26 100%
  );
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  margin-bottom: 20px;
  flex-shrink: 0;
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
}
#showNum {
  text-align: center;
  align-self: flex-start;
  margin-left: 1vw;
  margin-bottom: 0;
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
  animation-delay: 0.5s; /* 딜레이 추가 */
}

#rankImageContainer {
  width: 100px; /* Desired width */
  height: 70px; /* Desired height */
  overflow: hidden; /* Hide overflow */
  position: relative; /* Positioning context for absolute positioning */
  display: inline-block;
}

#rankImage {
  width: 100%; /* Adjust width to container */
  height: 100%; /* Adjust height to container */
  object-fit: cover; /* Maintain aspect ratio, filling the container */
  position: absolute; /* Absolute positioning to fill the container */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  transform: scale(2.5) translateY(-6%);
  transform-origin: center; /* 이미지를 중심을 기준으로 확대 */
}

header {
  background: linear-gradient(
    to left,
    #b8e1e7 0%,
    /* 밝은 에메랄드 */ #4ac7db 50%,
    /* 청록색 */ #0096a2 60%,
    /* 깊은 에메랄드 */ #062930 100% /* 어두운 푸른색 */
  );
  position: relative;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.container {
  display: flex;
  padding: 2vh 15%;
  max-width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  scrollbar-color: transparent transparent;
  max-height: max-content;
}

.side-info {
  margin-top: 1vw;
  border-radius: 8px;
  flex: 1;
  background: linear-gradient(
    to top,
    /* 부드러운 톤의 시작 색 */ #343f41 0%,

    /* 톤다운된 깊은 에메랄드 */ #051f26 100%
  );
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #051f26;
  color: #f5f5f5;
  display: flex;
  height: max-content;
  flex-direction: column;
  min-width: max-content;
  padding: 2vh 2%;
  position: sticky;
  top: 0;

  box-sizing: border-box;
}

.main-content {
  flex: 2;
  padding-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
}

.profile-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
  animation-delay: 0.3s; /* 딜레이 추가 */
}
.queueWinLose {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 3px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* 아래에서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.countdown {
  font-size: 0.7rem;
  color: red;
  display: block;
  margin-bottom: 0px;
}
#profileIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #747474;
}

.detailmatch {
  text-align: left;
  margin-top: 1vw;
  font-size: 1.5em;
  padding: 10px;
  border-bottom: 2px solid #ddd; /* 하단 경계선 */
}
#profileIcon.hovered {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.116);
  border-width: 3px;
  border-color: #747474;
}

.profile-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062);
}

.user-info {
  padding: 10px;
  height: max-content;
}
.rank-info hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 10px 0;
}
.user-info p {
  display: flex;
  align-items: center;
}

#gameName {
  margin: auto 0;
  font-size: 1.2rem;
  margin-right: 2px;
  color: #f5f5f5;
  font-weight: bold;
  display: inline;
}

#tagLine {
  margin: auto 0;
  font-size: 1.2rem;
  color: #b0b0b0;
  display: inline;
}
#queueType {
  align-self: flex-end;
  font-weight: normal;
  font-size: 0.8rem;
}
#winRate {
  font-size: 1.1rem;
  color: #4caf50; /* Green color for win rate */
  margin-right: 0.5vw;
}
#refreshButton {
  background-image: url("./data/img/refreshButton/button-replay-normal.png"); /* 기본 상태 이미지 */
  background-size: contain; /* 이미지가 버튼 크기에 맞춰 조정되도록 설정 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center; /* 이미지 중앙 정렬 */
  background-color: transparent; /* 배경색 투명하게 설정 */
  color: white; /* 텍스트 색상 */
  border: none; /* 테두리 제거 */
  width: 50px; /* 버튼 너비 */
  height: 50px; /* 버튼 높이 조정 */
  padding: 0; /* 패딩 제거 */
  margin-right: 0;
  border-radius: 3px; /* 둥근 모서리 */
  font-size: 0.8rem; /* 폰트 크기 */
  margin-left: 30px;

  cursor: pointer; /* 커서 변경 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
  animation-delay: 0.5s; /* 딜레이 추가 */
  transform-origin: center;
}
#summonerLevel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  background-color: rgba(0, 51, 102, 0.8);
  color: white;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  border: 1px solid #8d8d8d;
}
.kda {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5vw 2vw; /* 패딩을 늘려서 더 넓게 */
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw; /* 아이템 간격을 조금 더 넓게 */
  margin-left: auto;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.05em;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* max-width: 10vw; 제거해서 최대 너비 제한 없앰 */
  width: auto; /* 너비를 자동으로 조정 */
  transition: all 0.3s ease;
}

.kda:hover {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kda span {
  font-weight: bold;
  color: #ffffff;
}

.kda .separator {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

.kda-per {
  color: #94949471;
  font-size: 0.9rem; /* 글자 크기를 좀 더 작게 */
  font-weight: 400; /* 보통 두께로 조정 */
}

.kda-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1vw; /* 상단 여백 추가 */
}
/* 호버 상태 */
#refreshButton:hover {
  background-image: url("./data/img/refreshButton/button-replay-hover.png"); /* 호버 상태 이미지 */
}

/* 클릭 상태 */
#refreshButton:active {
  background-image: url("./data/img/refreshButton/button-replay-click.png"); /* 클릭 상태 이미지 */
}

/* 포커스 상태 */
#refreshButton:focus {
  outline: none; /* 포커스 아웃라인 제거 */
}

/* 비활성 상태 */
#refreshButton:disabled {
  background-image: url("./data/img/refreshButton/button-replay-disabled.png"); /* 비활성 상태 이미지 */
  color: #666666; /* 비활성 텍스트 색상 */
  cursor: not-allowed; /* 비활성 시 커서 변경 */
}

.Top-matchInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%; /* 전체 너비를 사용하도록 설정 */
}
.result-box {
  padding: 6px 20px; /* 여백 추가 */
  border-radius: 5px; /* 둥글게 처리 */
  text-align: center; /* 중앙 정렬 */
  margin-left: 10px; /* 좌측 여백 추가 */
}

.result-box.win {
  background-color: #4caf50; /* 초록색 배경 */
  color: white; /* 텍스트 색상 */
}

.result-box.lose {
  background-color: #f44336; /* 빨간색 배경 */
  color: white; /* 텍스트 색상 */
}

.champProfileBox {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  margin-right: 1vw;
}
.item-container {
  width: 100%;
  display: flex; /* Flexbox 사용 */
  justify-content: flex-start; /* 아이템 정렬 */
  flex-wrap: wrap; /* 줄 바꿈 허용 */
  transform-origin: top left; /* 축소 기준점을 좌상단으로 설정 */
}

.item-container img {
  width: 30px; /* 아이템 이미지 기본 크기 */
  height: 30px; /* 아이템 이미지 기본 크기 */
  transform: scale(0.8); /* 이미지를 더 축소 */
  transition: transform 0.3s ease; /* 마우스 오버 시 부드럽게 확대 */
}
.matchInfo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 내부 요소들을 양 끝으로 정렬 */
  align-items: center;
  margin-bottom: 0.5vw;
  width: 100%; /* 전체 너비를 사용하도록 설정 */
}

.textInfo-box {
  display: flex;
  flex-direction: row;
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
}
.time-box {
  font-size: 0.8rem;
  opacity: 0.5;
  width: max-content;
  text-align: center;
  color: gray;
  padding: 0 3px;
  border-radius: 5px;
}

#recent-matches {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 3px;
  max-height: 50%; /* 원하는 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  margin-top: 10px; /* 상단 여백 추가 */
  scrollbar-color: transparent transparent;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.match-item {
  display: block;
  padding: 15px;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    /* 부드러운 톤의 시작 색 */ #051f26 0%,

    /* 톤다운된 깊은 에메랄드 */ #051f26 100%
  );
  border: 2px solid #051f26;
  transition: background-color 0.3s ease;
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
  animation-delay: 1s; /* 딜레이 추가 */
}

.match-item + .match-item {
  margin-top: 15px; /* 다음 항목과의 간격 추가 */
}

.match-info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 2vw 0;
  font-size: 12px;
  text-align: left;
}
.note-info-td {
  background-color: rgba(9, 61, 104, 0.445);
}
.match-info-table td {
  padding: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1); /* 테두리 색상 투명도 높은 회색 */
  border-right: none;
  border-left: none;
  max-width: 30px; /* 셀의 최대 너비 제한 */
  word-wrap: break-word; /* 텍스트 줄바꿈 처리 */
}

.match-details p {
  font-size: 5rem;
}

.match-details.open {
  display: block;
  background-color: #051f26;
  margin-top: 3vw;
  border-width: 0;
  max-height: max-content; /* 충분히 큰 값으로 설정하여 펼칠 때 공간을 차지하도록 */
  padding: 1vw 3vw;
  display: flex;
  flex-direction: row;
}
.match-item img {
  max-width: 70px;
  max-height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.matchChampLevel,
.timestamp {
  color: #949494;
}

.toggle-details {
  margin-top: 1vw;
  width: 30px; /* 버튼 너비 */
  height: 20px; /* 버튼 높이 */
  background-color: #4748492f; /* 버튼 배경색 */
  border: none; /* 테두리 없애기 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 5px 0; /* 여백 */
  cursor: pointer; /* 마우스 커서 모양 변경 */
  background-size: cover; /* 버튼 크기에 맞게 이미지 비율 유지 */
  background-position: center; /* 이미지 위치를 중앙으로 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  transition: background-color 0.3s, transform 0.2s; /* 배경색과 크기 변화 애니메이션 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.toggle-details.open {
  background-image: url("./data/img/toggle/toggleup.png"); /* 닫기 이미지 */
}

.toggle-details.closed {
  background-image: url("./data/img/toggle/toggledown.png"); /* 열기 이미지 */
}

.toggle-box {
  margin-left: auto;
  width: max-content;
}
.match-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.match-item p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

.nav {
  position: absolute;
  z-index: 10;
  display: block;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.rank-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rank {
  margin: 5px 0;
  display: flex;

  align-items: center;
  width: max-content;
}
.rank-value {
  font-size: 1rem;
  font-weight: bold;
  color: #f5f5f5;
}
#tier,
#rank {
  font-size: 1.4rem; /* 티어와 랭크 강조 */
  font-weight: 700; /* 두꺼운 폰트 */
}
#leaguePoints {
  margin-left: 3px;
  font-size: 0.9rem; /* 작은 글씨 */
  font-weight: normal;
  color: #a0a0a0; /* 연한 색상 */
  margin-top: 5px;
}

#wins,
#losses {
  font-size: 0.8rem; /* 작은 글씨로 조정 */
  color: #b0b0b0;
}

.SR-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1vw;
}
.summoner-container,
.rune-container {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* 컨테이너 너비 제한 */
}

.summoner-container img,
.rune-container img {
  width: 80%; /* 이미지 너비를 컨테이너에 맞춰 줄이기 */
  height: auto; /* 이미지 비율을 유지하면서 크기 조절 */
}

.ad-banner {
  position: relative; /* 버튼을 배너 안에서 고정하기 위해 relative로 설정 */
  padding: 10px;
  /* background-color: yellow; */
  background-color: rgb(54, 54, 54);
  background-color: rgb(122, 122, 122);
  /* background-color: rgb(54, 54, 54); */
  background-size: cover;
  background-position: center;
  color: #4b4b4b;
}

.ad-banner p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #1f1f1f;
  text-shadow: 1px 1px 2px rgba(163, 163, 163, 0.8);
  line-height: 0.5;
  text-align: center;
}

.ad-banner p img {
  transform: translateY(5px); /* 원하는 만큼 아래로 이동, 여기서는 5px */
}

.highlight {
  color: #c5c5c5;
  /* color: #ffffff98; */
  font-weight: bold; /* 두껍게 */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
  border-radius: 4px;
  padding: 2px 4px;
  overflow: hidden;
}
.highlight.red {
  color: #ff401f;
}
.highlight.grey {
  color: rgb(36, 36, 36);
}
.close-ad {
  position: absolute;
  top: 10px !important; /* 상단에서 10px */
  right: 10px !important; /* 우측에서 10px */
  background-color: rgba(100, 68, 68, 0.8);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  z-index: 10; /* 다른 요소보다 위에 표시되도록 설정 */
}

.close-ad:hover {
  background-color: rgba(255, 0, 0, 1);
}
.side-banner {
  display: grid;
  align-items: center;
  padding: 15px 70px;
  border-radius: 10px;
  background-color: #f9f9f9; /* 부드럽고 얌전한 회색 배경 */
  background-image: url("https://file.giantsclub.com/upload2014/Player/62528_m.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 34% 43%;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
  font-family: "Arial", sans-serif;
  text-align: right; /* 텍스트를 오른쪽으로 정렬 */
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.side-banner::before {
  content: "AD";
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7); /* 더 연한 배경 */
  color: #555; /* 더 부드러운 텍스트 색상 */
  padding: 4px 8px;
  font-size: 0.8rem;
  border-radius: 5px;
}
.logo {
  font-size: 1.5rem; /* 로고 폰트 크기 증가 */
  font-weight: bold; /* 두껍게 */
  color: #fff; /* 텍스트 색상: 흰색으로 변경 */
  padding: 10px 20px; /* 패딩 추가로 여백 생성 */
  border-radius: 5px; /* 모서리를 둥글게 */
  margin-right: auto;
  font-family: "Arial", sans-serif; /* 폰트 패밀리 */

  text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.side-banner p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: normal; /* 좀 더 얌전한 폰트 굵기 */
  color: #4b4b4b; /* 차분한 텍스트 색상 */
  text-shadow: none; /* 텍스트 그림자를 제거 */
  line-height: 1.4;
  z-index: 2;
}
.nameandtag {
}
.side-banner .cta-button {
  background-color: #6c757d; /* 차분한 회색 버튼 */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.side-banner .cta-button:hover {
  background-color: #5a6268; /* 마우스 오버 시 살짝 어두워지는 효과 */
}

.side-banner:hover {
  transform: scale(1.02); /* 살짝 확대되는 효과 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 확대 시 그림자 효과 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.side-banner {
  animation: pulse 2s infinite;
}
/* Responsive styles */
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .matchInfo-box {
    align-items: flex-end;
  }
  .rank-info {
    margin-top: 2vw;
  }
  .profile-top {
    margin-right: 2vw;
    width: 50%;
    height: max-content;
  }
  #gameName {
    font-size: 0.8rem;
  }
  #tagLine {
    font-size: 0.8rem;
  }
  #tier,
  #rank {
    font-size: 0.9rem; /* 티어와 랭크 강조 */
  }
  #winRate {
    font-size: 0.8rem;
  }
  #refreshButton {
    width: 30px; /* 버튼 너비 */
    height: 30px; /* 버튼 높이 조정 */
    margin-left: 20px;
  }

  #summonerLevel {
    transform: translateX(-50%) translateY(-10%);
    font-size: 0.5rem;
    bottom: 0;
  }
  .champProfileBox {
    margin-right: 0;
  }
  #recent-matches {
    display: block;
    width: 100%;
  }
  .match-item {
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
  }

  #profileIcon {
    width: 60px;
    height: 60px;
  }
  hr {
    margin: 0 0;
  }
  .user-info {
    padding: 0;
    height: max-content;
  }
  .countdown {
    font-size: 0.5rem;
    width: max-content;
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 2vh 3%;
    overflow: hidden;
    max-height: max-content;
    height: max-content;
  }
  .logo {
    font-size: 1rem; /* 로고 폰트 크기 증가 */
  }

  .side-info {
    flex-direction: row;
    width: 100%;
    margin: 0;
    flex: none;
  }
  .sideinfo-box {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main-content {
    width: 100%;
    max-width: none;
  }

  .match-item-content {
    height: max-content;
    padding-left: 0;
    text-align: center;
  }
  .kda {
    padding: 1vw 5vw;
  }
  .side-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 50%;
    border-radius: 10px;
    background-color: #f9f9f9; /* 부드럽고 얌전한 회색 배경 */
    background-image: url("https://scontent-gmp1-1.xx.fbcdn.net/v/t51.75761-15/483333105_18489246718061592_4240278402145805216_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=sFRxqKpzZbgQ7kNvgGU4MD6&_nc_oc=Adh6OlUeWRCX966mkXsIFy8UjFZuDxXhjakKe97ZjGU5D7IbnnJZxocfENkfBxJhEwE&_nc_zt=23&_nc_ht=scontent-gmp1-1.xx&_nc_gid=A3UY7T2a8aeLTOA8iDYLKCy&oh=00_AYFPbnPFK7LYIrRJFOvb2kFa1qQsUyHRoFLFjMAT4ot24Q&oe=67D81698");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
    font-family: "Arial", sans-serif;
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
    height: 160px;
    position: relative;
  }

  #rankImageContainer {
    width: 40px; /* Desired width */
    height: 20px; /* Desired height */
    position: relative;
  }

  #rankImage {
    position: absolute;
    z-index: 9999;
    transform: scale(3) translateY(-1%);
  }
  #wins,
  #losses {
    font-size: 0.6rem; /* 작은 글씨로 조정 */
    color: #b0b0b0;
  }
  #leaguePoints {
    font-size: 0.6rem; /* 작은 글씨 */
    font-weight: lighter;
  }
  #recent-matches {
    overflow-y: hidden;
  }
  .SR-container {
    transform: scale(0.7); /* 전체 크기를 줄이는 속성 */
  }

  .match-item {
    padding: 5px;
    border-radius: 3px;
  }

  .match-item + .match-item {
    margin-top: 10px; /* 다음 항목과의 간격 추가 */
  }

  .match-item img {
    max-width: 50px;
    max-height: 50px;
  }

  .textInfo-box {
    margin-bottom: 2vw;
  }
  .ad-banner {
    padding: 3px;
  }

  .ad-banner p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .ad-banner p img {
    width: 20px;
    height: 20px;
  }
  .toggle-box {
    text-align: right;
  }
  .match-item p {
    font-size: 0.7rem;
  }
  .match-details.open {
    padding: 1vw 5vw;
  }

  .toggle-details {
    margin-top: 1vw;
    width: 20px; /* 버튼 너비 */
    height: 20px; /* 버튼 높이 */
    padding: 5px 0; /* 여백 */
  }
  .toggle-details.open {
    background-image: url("./data/img/toggle/toggleup.png"); /* 닫기 이미지 */
  }

  .toggle-details.closed {
    background-image: url("./data/img/toggle/toggledown.png"); /* 열기 이미지 */
  }
}
@media (max-width: 480px) {
  .container {
    padding: 1vh 8%;
    max-height: max-content;
    height: max-content;
  }

  .match-item {
    flex-direction: column;
    align-items: center;
  }

  .match-item-content {
    padding-left: 0;
    text-align: center;
  }
  #recent-matches {
    overflow-y: hidden;
    display: block;
    width: 100%;
  }
  .side-banner {
    display: none;
  }
  .ad-banner {
    display: block;
  }
  #tier,
  #rank {
    font-size: 1rem; /* 티어와 랭크 강조 */
  }
  #winRate {
    font-size: 0.7rem;
  }
}
