@import "./styles/_container.css";
@import "./styles/_footer.css";
@import "./styles/_header.css";
@import "./styles/_match.css";
@import "./styles/_rank.css";

body {
  background-color: #eef2f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.box {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 400px;
  height: 100%;
}

.profile-icon {
  position: relative;
  display: inline-block; /* 기존 레이아웃 유지 */
}

#profileIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #457b9d;
}
.profile-icon img {
  /* margin-left: 10px; */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #457b9d;
  position: relative;
}

.user-info {
  margin-left: 20px;
}

.user-info p {
  display: flex;
  align-items: center;
}

#gameName {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #34495e;
  font-weight: bold;
  display: inline;
}

#tagLine {
  font-size: 1rem;
  color: gray;
  display: inline;
}

#queueType {
  font-weight: normal;
  font-size: 0.9rem;
}

.queue-label {
  font-weight: bold;
}

#refreshButton {
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3px;
}

#refreshButton:hover {
  background-color: #1d3557;
}
#summoner-info {
  width: 200px;
}
#refreshButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(69, 123, 157, 0.5);
}

#refreshButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

h3 {
  font-size: 1.2rem;
  color: #1d3557;
  margin-bottom: 1rem;
}
.win {
  background-color: rgba(76, 175, 80, 0.3);
  border-left: 5px solid #4caf50;
}

.lose {
  background-color: rgba(244, 67, 54, 0.3);
  border-left: 5px solid #f44336;
}
#summonerLevel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
  border: 1px solid #457b9d;
  z-index: 10;
}
#queueType,
#tier,
#rank,
#leaguePoints,
#wins,
#losses {
  font-weight: bold;
}
