.rank-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* 원의 크기 조정 */
  height: 60px; /* 원의 크기 조정 */
  border-radius: 50%; /* 동그란 형태 */
  background: rgb(255, 255, 255, 0.9); /* 배경색과 투명도 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 호버 시 애니메이션 효과 */
}

.rank-container:hover {
  transform: scale(1.05); /* 호버 시 크기 확대 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강화 */
}

.rank-container img {
  width: 100%; /* 이미지 크기 조정 (원 안에 잘 맞도록) */
  height: auto; /* 비율 유지 */
  border-radius: 50%; /* 이미지도 동그란 형태 */
  border: 3px solid rgba(255, 255, 255, 0.6); /* 흰색 테두리와 투명도 */
}
